* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(26, 24, 24);
}

html {
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin anchor() {
    text-decoration: none;
    color: white;
    text-transform: uppercase;


}

section {
    max-width: 1800px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(2rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.1rem;
                    opacity: 0.7;
                    line-height: 1.5;

                }

                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.7rem;
                }
            }
        }

    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .element {
            text-align: center;
            @include flex-column(0rem);

            h2 {
                font-size: 3rem;
                font-weight: 300;
            }

            small {
                opacity: 0.7;
            }
        }
    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);



        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }

        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(2rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.1rem;
                    opacity: 0.7;
                    line-height: 1.5;

                }
            }
        }
    }

    section.column {
        flex-direction: column-reverse;
    }


    section.view4 {
        @include flex-column(1.2rem);
        width: 100%;
        padding: 1rem;

        .card {
            border-radius: 0.7rem;
            width: 100%;
            background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(66, 65, 65, 0.53);
                backdrop-filter: blur(5px);
                // border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 2rem 1rem;
            }
        }
    }

    section.view5 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(7rem);
            border-radius: 10px;
            padding: 1rem;

            .text {
                p {
                    opacity: 0.7;
                }

                h2 {
                    text-transform: uppercase;
                }
            }

            .icon {
                a {
                    @include anchor();
                }
            }

        }

    }

    section.view6 {
        width: 100%;
        padding: 1rem;

        .content {
            background-color: rgba(250, 194, 12, 0.464);
            @include flex-column(2rem);
            border-radius: 0.7rem;
            padding: 1rem;

            p {
                opacity: 0.8;

            }

            h2 {
                text-transform: uppercase;
                font-size: 2.2rem;
                font-weight: 500;
            }

            .icon {
                background-color: black;
                height: 38px;
                padding: 1rem;
                border-radius: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: center;



                a {
                    @include anchor();

                }

            }

        }

    }

    section.view7 {
        width: 100%;
        padding: 1rem;

        .content {
            width: 100%;
            background-color: rgba(66, 65, 65, 0.53);
            padding: 1rem;
            border-radius: 0.7rem;
            @include flex-column(3rem);

            .icons {
                display: flex;
                gap: 2rem;
                align-items: center;
                justify-content: flex-start;


            }

            i,
            p {
                width: fit-content;
                background-color: rgba(66, 65, 65, 0.53);
                border-radius: 50%;
                padding: 1rem;
                backdrop-filter: blur(5px);
            }

            i {
                font-size: 1.2rem;
            }
        }
    }

    section.view8 {
        width: 100%;
        padding: 1rem;

        .abouts {
            background-color: rgba(66, 65, 65, 0.53);
            border-radius: 0.7rem;
            padding: 2rem;
            @include flex-column(2rem);
        }

        .about {
            @include flex-column(1rem);


            .about-text {
                @include flex-column(1rem);
            }

            a {
                @include anchor();
            }

            button {
                padding: 1rem 2rem;
                background-color: rgba(242, 242, 32, 0.903);
                border-radius: 0.7rem;
            }
        }

    }

    Section.view9 {
        width: 100%;
        padding: 1rem;

        .footer-text {
            @include flex-column(2rem);
            background-color: rgba(66, 65, 65, 0.53);
            padding: 1rem;
            border-radius: 0.7rem;

            p {
                opacity: 0.7;
            }

            .f-top {
                align-self: center;
                justify-self: center;
            }
        }

    }

    section.wrapper {
        background-color: rgba(66, 65, 65, 0.53);
        border-radius: 0.7rem;
        padding: 5.5rem;

    }

    section.view {
        padding: 1rem;
    }

}



@media(min-width:900px) {
    main {
        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.5rem;

                    h1 {
                        font-weight: 200;
                        font-size: 3rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .paragraph {
                    display: flex;
                    gap: 2rem;
                }
            }

        }

        section.view4 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view5 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%
            }

            ;

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                h2 {
                    font-size: 3rem;
                    font-weight: 300;
                }

            }

        }

        section.view6 {
            padding: 1rem 4rem;

            .content {
                flex-direction: row;
                justify-content: space-between;
                padding: 5rem;

                h2 {
                    font-size: 3.5rem;
                    font-weight: 300;
                }

                .icon {
                    background-color: rgb(24, 22, 22);
                    padding: 1.5rem 2.2rem;
                    position: relative;
                    top: 8rem;

                }

                .icon i {
                    margin-left: 0.7rem;
                }
            }
        }

        section.view7 {
            padding: 1rem 4rem;
        }

        section.view8 {
            padding: 1rem 4rem;
            padding-left: 0rem;

        }

        section.view9 {
            padding: 1rem 4rem;

        }




    }
}

@media (min-width: 600px) {

    section.wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto;
        padding: 1rem 4rem;

        section.view8 {
            .abouts {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5rem;
            }
        }

    }

    .view7 {

        .content {
            height: 100%;
            padding: 2rem;
            @include flex-column(0rem);
            justify-content: space-between;
        }
    }



    .view9 {
        grid-column: 1 / 3;
        grid-row: 2/ 3;

        .footer-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem 2rem;
            background-color: rgba(66, 65, 65, 0.53);
            border-radius: 0.7rem;
        }

        section.view {
            padding: 1rem;
        }
    }
}