* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(26, 24, 24);
}

html {
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1800px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(2rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.1rem;
                    opacity: 0.7;
                    line-height: 1.5;

                }

                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.7rem;
                }
            }
        }

    }

    section.view2 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        .element {
            text-align: center;
            @include flex-column(0rem);

            h2 {
                font-size: 3rem;
                font-weight: 300;
            }

            small {
                opacity: 0.7;
            }
        }
    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }

        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(2rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.1rem;
                    opacity: 0.7;
                    line-height: 1.5;

                }
            }
        }
    }

    section.view4 {
       @include flex-column(1.2rem);
        width: 100%;
        padding: 1rem;

        .card {
            border-radius: 0.7rem;
            width: 100%;
            background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
            background-size: cover;
            aspect-ratio: 1/1;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(66, 65, 65, 0.53);
                backdrop-filter: blur(5px);
                // border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }
            .top{
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 2rem 1rem;
            }
        }
    }
}



@media(min-width:900px) {
    main {
        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.5rem;

                    h1 {
                        font-weight: 200;
                        font-size: 3rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;

                .paragraph {
                    display: flex;
                    gap: 2rem;
                }
            }

        }

        section.view4{
            flex-direction: row;
            padding: 1rem 4rem;
        }
    }


}