* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(26, 24, 24);
}

html {
  color: white;
  font-size: clamp(14px, 1vw, 18px);
}

section {
  max-width: 1800px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 10px;
}
main section.view1 .bottom {
  background-color: rgb(43, 38, 38);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  padding: 1.5rem;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.5;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 1rem;
  outline: none;
  border: none;
  border-radius: 0.7rem;
}
main section.view2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top,
main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
main section.view2 .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
main section.view2 .element small {
  opacity: 0.7;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view3 .bottom {
  background-color: rgb(43, 38, 38);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  padding: 1.5rem;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  font-weight: 300;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main section.view3 .bottom .text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.7;
  line-height: 1.5;
}
main section.column {
  flex-direction: column-reverse;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  padding: 1rem;
}
main section.view4 .card {
  border-radius: 0.7rem;
  width: 100%;
  background-image: url("https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp");
  background-size: cover;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .card .icon,
main section.view4 .card .bottom {
  background-color: rgba(66, 65, 65, 0.53);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view4 .card .top {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
main section.view4 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}
main section.view5 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .top {
  width: 100%;
}
main section.view5 .top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.view5 .bottom {
  background-color: rgb(43, 38, 38);
  display: flex;
  flex-direction: column;
  gap: 7rem;
  border-radius: 10px;
  padding: 1rem;
}
main section.view5 .bottom .text p {
  opacity: 0.7;
}
main section.view5 .bottom .text h2 {
  text-transform: uppercase;
}
main section.view5 .bottom .icon a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
main section.view6 {
  width: 100%;
  padding: 1rem;
}
main section.view6 .content {
  background-color: rgba(250, 194, 12, 0.464);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.7rem;
  padding: 1rem;
}
main section.view6 .content p {
  opacity: 0.8;
}
main section.view6 .content h2 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 500;
}
main section.view6 .content .icon {
  background-color: black;
  height: 38px;
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.view6 .content .icon a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
main section.view7 {
  width: 100%;
  padding: 1rem;
}
main section.view7 .content {
  width: 100%;
  background-color: rgba(66, 65, 65, 0.53);
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main section.view7 .content .icons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}
main section.view7 .content i,
main section.view7 .content p {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(66, 65, 65, 0.53);
  border-radius: 50%;
  padding: 1rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
main section.view7 .content i {
  font-size: 1.2rem;
}
main section.view8 {
  width: 100%;
  padding: 1rem;
}
main section.view8 .abouts {
  background-color: rgba(66, 65, 65, 0.53);
  border-radius: 0.7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view8 .about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view8 .about .about-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view8 .about a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
main section.view8 .about button {
  padding: 1rem 2rem;
  background-color: rgba(242, 242, 32, 0.903);
  border-radius: 0.7rem;
}
main Section.view9 {
  width: 100%;
  padding: 1rem;
}
main Section.view9 .footer-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(66, 65, 65, 0.53);
  padding: 1rem;
  border-radius: 0.7rem;
}
main Section.view9 .footer-text p {
  opacity: 0.7;
}
main Section.view9 .footer-text .f-top {
  align-self: center;
  justify-self: center;
}
main section.wrapper {
  background-color: rgba(66, 65, 65, 0.53);
  border-radius: 0.7rem;
  padding: 5.5rem;
}
main section.view {
  padding: 1rem;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-weight: 200;
    font-size: 3rem;
  }
  main section.view1 .bottom .text p {
    width: 60%;
    font-size: 1rem;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 4rem;
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
  }
  main section.view3 .bottom .paragraph {
    display: flex;
    gap: 2rem;
  }
  main section.view4 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view5 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view5 .top,
  main section.view5 .bottom {
    width: 50%;
  }
  main section.view5 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view5 .bottom h2 {
    font-size: 3rem;
    font-weight: 300;
  }
  main section.view6 {
    padding: 1rem 4rem;
  }
  main section.view6 .content {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
  }
  main section.view6 .content h2 {
    font-size: 3.5rem;
    font-weight: 300;
  }
  main section.view6 .content .icon {
    background-color: rgb(24, 22, 22);
    padding: 1.5rem 2.2rem;
    position: relative;
    top: 8rem;
  }
  main section.view6 .content .icon i {
    margin-left: 0.7rem;
  }
  main section.view7 {
    padding: 1rem 4rem;
  }
  main section.view8 {
    padding: 1rem 4rem;
    padding-left: 0rem;
  }
  main section.view9 {
    padding: 1rem 4rem;
  }
}
@media (min-width: 600px) {
  section.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto;
    padding: 1rem 4rem;
  }
  section.wrapper section.view8 .abouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .view7 .content {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: space-between;
  }
  .view9 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .view9 .footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: rgba(66, 65, 65, 0.53);
    border-radius: 0.7rem;
  }
  .view9 section.view {
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */