* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(26, 24, 24);
}

html {
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1800px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: rgb(43, 38, 38);
            @include flex-column(2rem);
            border-radius: 10px;
            padding: 1.5rem;

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 300;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 300;
                    font-size: 1.1rem;
                    opacity: 0.7;
                    line-height: 1.5;

                }

                button {
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.7rem;
                }
            }
        }

    }
}

@media(min-width:900px) {
    main {
        section {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {
                    gap: 1.5rem;

                    h1 {
                        font-weight: 200;
                        font-size: 3rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}